.{margin:0;padding:0}
body {font-family:'UbuntuRegular',Arial;font-size:14px;line-height:20px;background:url(images/body_background.png)repeat-x scroll 0 0 #3E444C}
a {color:#162d66;text-decoration:none;}
a:hover {text-decoration:none;}
input[type-text],input[type-password],textarea{border:1px solid #ddd;padding:5px}
input[type-submit]{}
h1,h2,h3,h4,h5,h6{font-weight:normal}


img{max-width:100%;height:auto}
.alignleft{float:left;margin-right:10px}
.aligncenter{display:block;margin:10px auto}
.alignright{float:right;margin-left:10px}

.floatleft{float:left}
.floatright{float:right}

.stracture{width:940px;display:block;margin:0 auto}
.fix{overflow:hidden}


.logo
.header-area{}
.header{}
.logo{margin-top:60px;color:#fff;width:612px}
.logo h1{font-size:40px;line-height:45px;text-transform:uppercase;margin-top: 8px;margin-bottom: -11px}
.logo h2{font-size:20px}
.call-us{}
.call-us-number{color: #fff;
	font-size: 20px;
	width: 223px;
	line-height: 23px;
	background: url("../images/phone_icon.png")no-repeat scroll 0 18px;
	padding-left: 42px;
	margin-bottom: -9px;}
.call-number{font-size:35px;font-weight:bold;margin-top: -15px;}
.social-bookmark{margin-top: 15px;margin-bottom: 15px;float: right;}
.social-bookmark ul{margin:0;padding:0;list-style:none}
.social-bookmark ul li{float:left;margin-left:10px}
.social-bookmark ul li a{display:block;height:29px;width:32px;text-indent:-99999px;margin-bottom:50px}
.social-bookmark ul li a:hover{}
.facebook-icon{background:url("../images/social_icon.png") no-repeat scroll 0 0}
.twitter-icon{background:url("../images/social_icon.png") no-repeat scroll -36px 0}
.linkedin-icon{background:url("../images/social_icon.png") no-repeat scroll -72px 0}
.youtube-icon{background:url("../images/social_icon.png") no-repeat scroll -108px 0}
.menu-area{height:54px;background:url("../images/menu_background.png") repeat-x scroll 0 0 #250388 }
.mainmenu{}
.mainmenu ul{margin:0;padding:0;list-style:none}
.mainmenu ul li{float:left;background:url("../images/menu_separator.png") no-repeat scroll right center}
.mainmenu ul li:last-child{background:none}
.mainmenu ul li a{display:block;padding:19px 29px;color:#fff}
.mainmenu ul li a:hover{}
.slider-area{background: url("../images/slider_background.png") no-repeat scroll center -33px;}
.slider{margin-top:30px}
.main-slider{position:relative}
.slider-image{background:#fff;padding:10px;margin-top:0px;border-radius:5px}
.slider-text{background:url("../images/slider_text_background.png") repeat;     
    color: #fff;
    position: absolute;
    left: 10px;
    top: 68px;
    padding: 7px;
    font-size: 30px;
    line-height: 28px;
    width: 469px;
}
.promo-buttons{margin: 0 auto;width: 940px;}
.single-promo{background: url("../images/promo_background.png") repeat-x scroll 0 0 transparent;
		border-radius: 0 0 10px 10px;
		width: 180px;
		margin-right: 15px;
		margin-left: 17px;
		padding: 10px;
		text-shadow:0 1px 0 #fff;
		margin-bottom:15px;
		}
.pen-icon{background: url("../images/pen_icon.png")no-repeat right 0;
		color: #183075;
		font-size: 22px;
		margin-top: 0px;
		padding-bottom: 15px;}		
.what-icon{background: url("../images/eye_icon.png")no-repeat right 0;
		color: #183075;
		font-size: 22px;
		margin-top: 0px;
		padding-bottom: 15px;}		
.see-icon{background: url("../images/smile_icon.png")no-repeat right 0;
		color: #183075;
		font-size: 22px;
		margin-top: 0px;
		padding-bottom: 15px;}		
.refer-icon{background: url("../images/message_icon.png")no-repeat right 0;
		color: #183075;
		font-size: 22px;
		margin-top: 0px;
		padding-bottom: 15px;}		
.maincontent-area{margin-top:15px}
.maincontent-area h1,.maincontent-area h2,.maincontent-area h3,.maincontent-area h4,.maincontent-area h5,.maincontent-area h6,
.maincontent-area p{margin-bottom:15px}
.maincontent{background:#fff;padding:20px 10px 20px 20px;width:910px;border-radius:10px}
.content{margin-right:15px;width:570px}
.single-content{margin-bottom:20px}
.single-content h2{color:#162d69;margin-bottom:30px}
.single-content img{background:#C9C6C2;padding:5px;border-radius:5px;margin-top:5px}
.sidebar{width:300px;margin-right:0px;margin-left:15px}
.single-sidebar{background:#3B3B3B;border-radius:10px;padding:10px;color:#fff}
.single-sidebar ul{margin:0px;padding:0px;list-style:none}
.single-sidebar ul li{border-top:1px dashed #616161;padding:5px}
.single-sidebar ul li a{}
.single-sidebar ul li a:hover{}
.footer-top-area{}
.footer-top{margin:15px auto}
.footer-top ul{margin:0;padding:0;list-style:none;text-align:center}
.footer-top ul li{display:inline}
.footer-top ul li a{display:inline-block;padding:10px;color:#A1A3A8}
.footer-top ul li a:hover{}
.footer-bottom_area{background:url("../images/footer_background.png")repeat;padding:15px 0;color:#fff}
.footer-bottom{}
.powered-by{}
.copyright-info{}
